:root {
  --color-base-blue: #029eb2;
  --color-base-green: #00b19b;
  --color-base-gray: #777777;
  --color-base-green-hover: #00a68f;
  --color-primary-green: #d1f7f5;
  --color-primary-red: #fecaca;
  --color-secondary-gray: #b1b1b1;
  --color-secondary-green: #00b19b;
  --color-secondary-red: #991b1b;
}
